.root {
    -fx-background-color: #f0f0f0;
}

#loginForm {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field, .password-field {
    -fx-font-size: 14px;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-pref-width: 120px;
}

.message-label {
    -fx-font-size: 14px;
    -fx-text-fill: #ff0000;
}
#tableView {
    -fx-control-inner-background: #ffffff;
    -fx-table-cell-border-color: #dddddd;
    -fx-table-header-border-color: #dddddd;
    -fx-padding: 10px;
}

#tableView .column-header {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: #f0f0f0;
}

#tableView .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #dddddd;
}

#tableView .table-row-cell:odd {
    -fx-background-color: #f0f0f0;
}

#tableView .table-row-cell:selected {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
}
